/* style.css
 * This file provides css styles.
 */
body,html {
	background-color: #3b4b54;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	
	color: #00aed1;
}




h1 {
	font-weight: bold;
	font-size: 2em;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0 auto;
	text-align: center;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.blue {
	color: #00aed1;
}

/* header footer common */
header,footer {
	width: 100%;
	text-align: center;
	color: #fff;
}

/* content width */
.title,.tips,section,.records {
	width: 600px;
}

@media ( max-width : 600px) {
	.title,.tips,section {
		width: 100%;
	}
}

.center {
	padding-top: 10%;
}
